.front-links {
    margin-top: 0px;
} 

.act-btn {
    color: white;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 100px;
    text-decoration: none;
}

.activity-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: black 2px 2px;
    
}

.about-blurb {
    font-size: 30px;
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: black 2px 2px;
    margin: 5px 10% 5px 10%;
    background-color: rgba(0, 0, 0, 0.39);




}
body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 25px;
    font-family: 'Noto Sans JP' ;
    color: white;
    background-image: url(images/river.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}





.logo{
padding: 50px;
text-align: center;
font-size: 2rem;
}
/* wrapper around each individual component excluding home */
.wrapperBody {
    display: flex;
    width: 100%;
}
.wrapper { 
    background-color: rgb(244, 248, 249);
    color: grey;
    width: 100%;
}

/* Location-Meetups CSS */

.loc-nav {
    display: flex;
    margin: 0px 30px 0px 30px;
}

.loc-home {
    padding: auto;
}

.loc-hedr {
    margin-left: 20%;
}

.locationList {
    display: flex;
    flex-direction: column;
    width: 30%;
}


.LocationMeetupContainer {
    color: #495264;
    display: flex;

    height: 900px;

    background-color: aqua;
    font-size: 16px;
}

.locationWrapper {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    width: 10%;

}

.btn {
    background-color:  #495264;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 500%;
    margin-bottom: 20px;
    border-radius: 2em;
}

.btn:hover {
    background-color: #8BB7C7;
    color: white;
  }

.widgetWrapper {
    display: flex;
    justify-content: center;

    background-color: #F3F5F0;

    height: 900px;
    width: 50%;
}

.TrailforksWidgetMap {
    margin-top: 65px;
    border-right: 4px solid #262626;
    border-bottom: 4px solid #262626;


    box-shadow: 5px 10px 18px #000000;
    height: 400px;
    
}

.postListingWrapper {
    display: flex;
    justify-content: center;
    
    background-color: #F3F5F0;

    width: 50%;
}

.meetupList {
    display: flex;
    flex-direction: column;

    
    background-color: #F3F5F0;

    width: 75%;
    height: 95%;

    margin-top: 30px;

    text-align: center;

    border-radius: 2em;

}

.cardList {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 15px;

    overflow-y: scroll;

    height: 65%;
}

.meetupList h2 {
    height: 8%;
    font-size: 3rem;
    background-color: #8BB7C7; 
    color: #F3F5F0;
}

.meetupCard {

    display: flex;
    flex-direction: column;

    background-color: #495264;
    color: #F3F5F0;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;

    width: 85%;

    text-align: left;   
    
    border-radius: 7px;
    box-shadow: black;

    transition: 0.3s;

}

.meetupCardInActive {
    display: flex;
    flex-direction: column;

    background-color: #49526493;
    color: #F3F5F0;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 5px;

    width: 85%;

    text-align: left;   
    
    border-radius: 7px;
    box-shadow: black;

    transition: 0.3s;
}

.skillDropdown {
    background-color: #5fb174;
    color: #F3F5F0;
    margin-top: 5px;
    padding-top: 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 7px
}



.meetupCard p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: none;

    font-weight: light;


}

.meetupCard h3 {
    margin-left: 25px;
    font-size: 1.25rem;
    font-weight: bold;
}

.addButton {
    background-color: #B4954E;
    color: #F3F5F0;
    margin-top: 5px;
    padding-top: 0px;

    text-align: center;
    font-size: 2rem;
    font-weight: bold;  
    
    height: 60px;
    width: 100%;
    border: none;

    border-radius: 7px;
}

.flagButton {
    border: none;
    border-radius: 7px;
    height: 20px;
    background-color: #5fb174;
    color: #F3F5F0;
    transition-duration: 0.4s;
}

.flagButton:hover {
    background-color: #8BB7C7;
}

.imagesWrapper {
    width: 50%;
}

.mapImages {
    width: 100%;
}

/* form styling */

.addPostFormWrapper{

        width: 60%; 
        background-color: #F3F5F0;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.addPostForm {

    display: flex;
    flex-direction: column;
    background-color: #495264;
    width: 75%;
    height: 75%;
    margin-top: 30px;
    text-align: center;
    border-radius: 2em;
    justify-content: center;
    padding: 10px;
}

.pst-frm-bck-btn {
    border: none;
    border-radius: 7px;
    height: 40px;
    background-color: #5fb174;
    color: #F3F5F0;
    margin-top: 20px;
    width: 80%;
    transition-duration: 0.4s;
    margin: auto;
    font-size: 30px;

}

.pst-frm-bck-btn:hover {
    background-color: #8BB7C7;

}

.frm-usr-lbl{
    color: white;

}

.frm-usr-ipt {
    background-color: rgb(214, 184, 113);
    width: 80%;
    align-items: center;
    margin: auto;
    border-radius: 7px;
    height: 40px;
}

.frm-usr-ipt::placeholder{
    font-family: 'Noto Sans JP' ;
}

    


