
.act-btn {
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 100px;



}

.activity-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: black 2px 2px;
}

.about-blurb {
    font-size: 30px;
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: black 2px 2px;
    margin: 5px 10% 5px 10%;
    background-color: rgba(0, 0, 0, 0.39);




}
body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-family: 'Noto Sans JP' ;
    color: white;
    /* background-image: url('https://mocah.org/uploads/posts/5306315-mountain-blue-teal-range-mountain-range-layers-amazing-wallpaper-desktop-wallpaper-desktop-background-monochrome-layer-shape-minimalist-minimal-wallpaper-silhouette-light-shadow-landscape-natu.jpg'); */
    /* background-image: url(images/cliff.jpg); */
    /* background-image: url(images/landscape.jpg); */
    background-image: url(images/river.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}





.logo{
padding: 50px;
text-align: center;
font-size: 2rem;
}

.wrapper {
    background-color: rgb(244, 248, 249);
    color: grey;
}

/* Location-Meetups CSS */

.LocationMeetupContainer {
    display: flex;

    background-color: aqua;
    font-size: 16px;
}

.widgetWrapper {
    display: flex;
    justify-content: center;

    background-color: #F4F8F9;

    width: 40%;
}

.TrailforksWidgetMap {
    margin-top: 30px;

    border-right: 4px solid #262626;
    border-bottom: 4px solid #262626;


    box-shadow: 5px 10px 18px #000000;

    
}

.postListingWrapper {
    display: flex;
    justify-content: center;
    
    background-color: #F4F8F9;

    width: 60%;
}

.meetupList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    background-color: #F4F8F9;

    width: 75%;

    margin-top: 30px;

    text-align: center;

    border-radius: 2em;


}

.meetupList h2 {
    font-size: 3rem;
}

.meetupCard {

    background-color: #f2f2f2;
    color: #1e272e;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;

    text-align: left;

    border-right: 4px solid #262626;
    border-bottom: 4px solid #262626;


    box-shadow: 5px 10px 18px #000000;
    
}

.meetupCard p {
    margin-left: 25px; 
    margin-right: 25px; 
    margin-top: 5px;
    margin-bottom: none;
}

.meetupCard h3 {
    margin-left: 25px;  
}

.meetupCard h4 {
    margin-left: 25px;  
}
